* {
    color: white;
}

#box {
    min-height: 80vh;
    width: min(500px, 95%);
    border: 5px solid whitesmoke;
    margin: auto;
    background-color: var(--background-dark);
    overflow: hidden;
    border-radius: 2rem;
    border: 2px solid var(--background-light);
    margin-block: 5rem;
    padding-block: 1rem;
    position: relative;
}

#watermark {
    position: absolute;
    position: absolute;
    bottom: -3%;
    right: 2%;
    font-size: 8rem;
    color: var(--background-light);
    opacity: 0.2;
}

.logSignTogle {
    width: 70%;
    margin: 2rem auto;
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
}

.inactive {
    padding: 0.5em 1.5rem;
    border: 1px solid var(--primary);
    background-color: transparent;
    color: var(--primary);
}

.main {
    display: flex;
    justify-content: center;
    margin-block: 3rem;
}

.main>* {
    width: 70%;
}

.signup-page {
    display: none;
}

.container>div:nth-child(1) {
    width: 400px;
    margin: auto;
}

#box input {
    width: 100%;
    padding: 0.5rem 1rem;
    color: var(--background-dark);
    border-radius: 50px;
    font-size: var(--nav-link);
    border: 2px solid transparent;
}

#box input:focus {
    border: 2px solid var(--background-light);
}

#box input[type="submit"] {
    margin-top: 1rem;
    width: auto;
    cursor: pointer !important;
}

#box #log,
#box #sign {
    color: var(--white);
    border: none;
}

#box .form-group {
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form-group label {
    /* flex-basis: 100px; */
    margin-bottom: 0.5rem;
    font-size: var(--paragraph-small);
    text-transform: uppercase;
    letter-spacing: 2px;
}

.form-group input {
    flex-grow: 1;
    /* padding: 5px; */
}